<p>login Form!</p>
<div >
<form [formGroup]="loginForm" (ngSubmit) = "onSubmit(loginForm, $event)">
  <div class = "form-elem">
 UserName:  <input type = "text" name = "username" formControlName="username" /><br/>
 </div>
<div class = "form-elem">
 Password: <input type = "password" name = "password" formControlName="password"/>
 </div>
 <button type = "submit"> Submit </button>
</form>
</div>

<app-shared [isSubmitButtonClicked]="submitClicked" [isFormValid]= "isValid" [hideMe]="hideSharedComponent" (resetForm) = "resetForm()" (autoFill) = "autoFillForm(loginForm, $event)"></app-shared>